# Tesla Gateway Configuration
teslaGateway:
  email: myemail # email for the Tesla Gateway installed on your local network
  password: mypassword # password for the Tesla Gateway installed on your local network
  address: https://teg.mydomain:443 # HTTP address for the Tesla Gateway
  skipVerifySsl: false

# InfluxDB Configuration
influxDB:
  address: https://127.0.0.1:8086 # HTTP address for InfluxDB
  username: myuser # (optional) username for authenticating to InfluxDB v1
  password: mypass # (optional) password for authenticating to InfluxDB v1
  measurementPrefix: tesla_ # (optional) set a prefix for the InfluxDB measurement
  database: mydb # (v1 only) database for use for InfluxDB v1
  retentionPolicy: autogen # (v1 only) retention policy for database
  token: mytoken # (v2 only) token for authenticating to InfluxDB; setting this assumes v2
  organization: myorg # (v2 only) sets the organization
  bucket: mybucket # (v2 only) sets the bucket
  skipVerifySsl: false # toggle skipping SSL verification

# Polling Configuration
polling:
  interval: 5 # time in seconds to wait in between Tesla Gateway polling attempts
